.DS_Store
node_modules
lib
dist
!dist/README.md
target
*.pc.react.d.ts
*.pc.css
*.pc.mjs
*.pc.mjs.*
*.pc.d.ts
*.pc.html
*.pc.rs
*.pc.js
*.pc.js.map
*.react.js
*.vsix
*.artifacts
*.node
*.tgz
pc-coverage
pc-diff
.paperclip
paperclip-html.tmLanguage.json

.yarn/*
.yarn/cache
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
