.m-image-editor {
  position: relative;
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    max-width: 50%;
    max-height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
