.m-raw-color-input {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  .switcher {
    display: flex; 
    cursor: pointer;
    background: transparent;
    flex-direction: column;
    i {
      height: 8px;
    }
  }
  .field {
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    padding-right: 4px;
    label {
      text-transform: uppercase;
    }

    input {
      width: 100%;
      text-align: center;
    }
  }
  .fields {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}