@import "scss/variables.scss";

.m-insert-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1024;
  background: transparent;
  & .preview {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $color-grey-7;
  }

  & .preview-text {
    position: absolute;
    padding: 2px 4px;
    border-radius: 2px;
    top: 0;
    left: 0;
    color: white;
    background: $color-grey-7;
  }
}

.m-insert-outline {
  position: absolute;
}
