@import "scss/variables.scss";

.m-selection-label {
  position: absolute;
  font-size: $font-size-sm;
  color: white;
  background: $color-aqua-1;
  transform-origin: top left;
  border-top-left-radius: $padding-base;
  border-top-right-radius: $padding-base;
  padding: $padding-base $padding-base * 2;
}
