.m-content {
  padding: 8px 12px;
}

.m-hidden {
  display: none;
}

.m-input {
  display: inline-block;
  &[type="text"],
  &.text {
    border: none;
    box-shadow: inset 0 0 0 1px var(--boundary-color-1);
    border-radius: 2px;
    padding: 4px;
    &:focus {
      outline: none;
      // box-shadow: inset 0 0 0 1px var(--active-color-1);
    }
  }
}

:focus {
  outline: none;
}
