@import "scss/variables";

.m-resizer-component {

  position: fixed;
  top: 0px;
  left: 0px;
  outline: none;

  &--size {
    background-color: rgba(#333, 0.8);

    color: white;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    white-space: nowrap;
    pointer-events: none;
    transform-origin: top left;
    font-size: $font-size-0;
  }

  &--selection {
    position: absolute;
    z-index: 4;
  }

  & svg {
    & rect {
      fill: $color-aqua-1;
      stroke: $color-aqua-1;
    }
  }
}
