.m-pretty-styles {
  .row {
    display: flex;
    flex-direction: row;
    padding: 12px;
  }

  input {
    width: 100%;
  }

  .field {
    display: flex;
    width: 100%;
    &.vertical {
      display: flex;
      flex-direction: column;
      flex-flow: column-reverse;
      .m-input {
        width: 100%;
      }
      label {
        width: 100%;
        margin-top: 4px;
      }
    }
  }
}
