name: Release

# on:
#   release:
#     types: [created]

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release CLI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          [
            x86_64-pc-windows-gnu,
            x86_64-unknown-linux-musl,
            x86_64-apple-darwin,
          ]
        package: [libs/cli]
    steps:
      - uses: arduino/setup-protoc@v1
        with:
          version: "3.x"
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - name: Install Dependencies
        run: ls
      - name: Install Dependencies
        run: yarn install
      - name: Build Packages
        run: yarn build
      - name: Compile
        id: compile
        uses: rust-build/rust-build.action@v1.3.2
        env:
          PRE_BUILD: .github/workflows/pre.sh
          SRC_DIR: ${{ matrix.package }}
          RUSTTARGET: ${{ matrix.target }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TOOLCHAIN_VERSION: nightly
          ARCHIVE_TYPES: tar.gz
          # UPLOAD_MODE: none
      # - name: Upload artifact
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: Binary
      #     path: |
      #       ${{ steps.compile.outputs.BUILT_ARCHIVE }}
      #       ${{ steps.compile.outputs.BUILT_CHECKSUM }}
